j2ee-jaxb-simple/src/main/resources/student_schema.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student"> 
    <xs:sequence>
      <xs:element name="teachers" type="Teachers"/>
      <xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    
    <xs:attribute name="id" type="xs:integer"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="grade" type="xs:string"/>
  </xs:complexType> 
  
  <xs:complexType name="Teachers">
    <xs:sequence>
      <xs:element name="teacher" type="Teacher" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Teacher">
    <xs:attribute name="id" type="xs:integer"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  
</xs:schema>